<%= render "layouts/navbar" %>


<div class="jumbotron">
  <h1>Find roomies at light speed!</h1>
  <p>Easiest way to find a partner in crime near your area, plus we are pretty quick</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Offering a room</a></p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Looking for a room</a></p>
</div>
