<%= render "layouts/navbar" %>

<div class= "container">
<div class="jumbotron" id ="jumbo1">
  <h1 id ="land1">Find roomies at light speed!</h1>
  <p>Easiest way to find a partner in crime near your area, plus its free.</p>
  <p><a class="btn btn-primary btn-lg" href="<%= rooms_path %>" role="button">Offering a room</a></p>
  <p><a class="btn btn-primary btn-lg" href="<%= landing_search_path%>" role="button">Looking for a room</a></p>
</div>
</div>
