<%= render "layouts/navbar" %>


<h1> Rooms Available </h1>


<%= render "rooms/map" %>

   <div class="cont" >
    <% @rooms.each do |room| %>
    <%= render room %>
   <% end %>
   </div>


<script>
$(document).ready(function() {

 $("[name='buscador']").on("input", function(){
 var val = $(this).val();
 $.ajax({
 url: '<%= rooms_path %>',
 type: 'GET',
 dataType: 'script',
 data: {filter: val, landing: 1},
 })
 });
});

</script>


