

 <thead>
    <tr>
      <th> Price</th> 
      <th>Description </th>
      <th>Home </th>
      <th>Dep </th>
      <th>Garage </th>
      <th>Girls </th>
      <th>Boys </th>
      <th>Animals </th>
      <th>Nanimals </th>
      <th>Smoke </th>
      <th>Nsmoke </th>
      <th>Urgent </th>
      <th>Quick </th>
      <th>Bathroom </th>
      <th>Servinc </th>
      <th>Location </th>
      <th>User </th>
      <th colspan="3"></th>
    </tr>
  </thead>

      <tr>
        <td><%= room.price %></td>
        <td><%= room.description %></td>
        <td><%= room.home %></td>
        <td><%= room.dep %></td>
        <td><%= room.garage %></td>
        <td><%= room.girls %></td>
        <td><%= room.boys %></td>
        <td><%= room.animals %></td>
        <td><%= room.nanimals %></td>
        <td><%= room.smoke %></td>
        <td><%= room.nsmoke %></td>
        <td><%= room.urgent %></td>
        <td><%= room.quick %></td>
        <td><%= room.bathroom %></td>
        <td><%= room.servinc %></td>
        <td><%= room.location %></td>
        <td><%= room.user.name %></td>
        <td><% room.images.each do |photo| %>
        <%= image_tag photo.url, :width =>100, :height => 100 %>
        <% end %></td>
        <td><%= link_to 'Show', room %></td>
        
      </tr>


:width =>100, :height => 100